<div class="row home">
    <div class="col-sm-12 col-md-4 col-lg-3 filters">
        <div class="filters-title">
            Filtros
        </div>
        <mat-accordion multi="true">

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title >
                        <div>
                            <img src="assets/icons/filters/search.png" class="icon" alt="">
                            <span class="text-title">Nombre del hotel</span>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="col-md-12" >
                    <div class="row">
                        <div class="col-md-7">
                            <input class="input-full-width form-control"
                            name="filter"
                            [(ngModel)]="filter"
                            (keyup)="filterHotels($event)"
                            type="text"
                            placeholder="Ingrese el nombre del hotel"/>
                        </div>
                        <div class="col-md-5">
                            <a name="button" class="button btn btn-block" (click)="filterHotels($event, true)">Aceptar</a>
                        </div>
                    </div>
                </div>
            </mat-expansion-panel>

            <mat-expansion-panel>
                <mat-expansion-panel-header>
                    <mat-panel-title>
                        <div>
                            <img src="assets/icons/filters/star.png" class="icon" alt="">
                            <span class="text-title">Estrellas</span>
                        </div>
                    </mat-panel-title>
                </mat-expansion-panel-header>
                <div class="col-md-12">
                    <mat-checkbox class="check-default" [(ngModel)]="checkAllStars" name="checkAllStars" (change)="setAllStars()">Todas las estrellas</mat-checkbox>
                    <mat-checkbox [(ngModel)]="checkStar1" name="checkStar1" (change)="modifyStars()">
                        <span><img src="assets/icons/filters/stars.png" class="icon" alt=""></span>
                    </mat-checkbox>
                    <mat-checkbox [(ngModel)]="checkStar2" name="checkStar2" (change)="modifyStars()">
                        <span><img src="assets/icons/filters/stars.png" class="icon" alt="">
                            <img src="assets/icons/filters/stars.png" class="icon" alt=""></span>
                    </mat-checkbox>
                    <mat-checkbox [(ngModel)]="checkStar3" name="checkStar3" (change)="modifyStars()">
                        <span><img src="assets/icons/filters/stars.png" class="icon" alt="">
                            <img src="assets/icons/filters/stars.png" class="icon" alt="">
                            <img src="assets/icons/filters/stars.png" class="icon" alt=""></span>
                    </mat-checkbox>
                    <mat-checkbox [(ngModel)]="checkStar4" name="checkStar4" (change)="modifyStars()">
                        <span><img src="assets/icons/filters/stars.png" class="icon" alt="">
                            <img src="assets/icons/filters/stars.png" class="icon" alt="">
                            <img src="assets/icons/filters/stars.png" class="icon" alt="">
                            <img src="assets/icons/filters/stars.png" class="icon" alt=""></span>
                    </mat-checkbox>
                    <mat-checkbox [(ngModel)]="checkStar5" name="checkStar5" (change)="modifyStars()">
                        <span><img src="assets/icons/filters/stars.png" class="icon" alt="">
                            <img src="assets/icons/filters/stars.png" class="icon" alt="">
                            <img src="assets/icons/filters/stars.png" class="icon" alt="">
                            <img src="assets/icons/filters/stars.png" class="icon" alt="">
                            <img src="assets/icons/filters/stars.png" class="icon" alt=""></span>
                    </mat-checkbox>
                </div>
            </mat-expansion-panel>
        </mat-accordion>
    </div>

<!-- RESULTS -->
    <div class="col-md-8 col-lg-9">
        <div class="row hotel" *ngFor="let hotel of hotelsFiltered">
            <div class="col-xs-12 col-md-3">
              <img src="{{'assets/images/hotels/' + hotel.image}}" class="img img-fluid photo-hotel" alt="">
            </div>
            <div class="col-xs-12 col-md-6 info-hotel">
                <div class="row">
                    <a href="" class="text-title">{{ hotel.name }}</a>
                </div>
                <div class="row">
                    <img src="assets/icons/filters/stars.png" class="icon" alt="" *ngFor="let item of hotel.stars | numberArray">

                </div>
                <div class="row">
                    <span *ngFor="let amenitie of hotel.amenities">
                        <img src="{{'assets/icons/amenities/' + amenitie + '.svg'}}" class="amenities" alt="">
                    </span>
                </div>
            </div>
            <div class="col-xs-12 col-md-12 col-lg-3 hotel-price">
                <div class="horizontalDivider"></div>
                <div class="verticalDivider"></div>
                <p>Precio por noche por habitación</p>
                <h1><small>ARS</small><strong>{{ hotel.price | number:'0.0-0'}}</strong></h1>
                    <a class="btn button btn-block">Ver hotel</a>
            </div>
        </div>
    </div>
</div>
