/* You can add global styles to this file, and also import other style files */

body {
    background-color: #f4f4f4;
}

.header {
    background-color: #002c77;
    height: 60px;
    width: 100%;
    display: block;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding: 15px;
}

.home {
    margin: 20px;
}
.mat-expansion-panel-body {
    padding-top: 0px !important;
    padding-left:  0px !important;
    padding-right:  0px !important;
    padding-bottom: 10px;
    background-color: white;
}

mat-expansion-panel-header {
    height: 50px;
    background-color: white;
}

mat-accordion {
    margin-bottom: 20px;
    display: inline-block;
    width: 100%;
}

.input-full-width {
    width: 100%;
    margin-bottom: 10px;
}

.button {
    background-color: #002c77;
    border-radius: 2px;
    border-bottom: 3px solid black;
    border-top: none;
    border-right: none;
    border-left: none;
    color: white !important;
    padding: 6px;
}

.icon {
    height: 15px;
    width: 15px;
    margin-right: 5px;
}

span > .icon {
    margin-left: 5px;
}

.text-title {
    color: #157ab1;
    font-weight: bold;
}



.filters-title {
    height: 40px;
    width: 100%;
    background-color: white;
    margin: 3px;
    margin-left: 0px;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
    padding-left: 20px;
    box-shadow: 1px 1px 2px gray;
    font-weight: bold;
}

mat-checkbox {
    display: block;
}

.check-default {
    font-weight: bold;
}

.hotel {
    background-color: white;
    padding: 5px;
    margin-bottom: 12px;
    box-shadow: 1px 1px 2px gray;
}

.amenities {
    height: 25px;
    width: 25px;
    margin-right: 5px;
    margin-top: 10px;
}

.hotel-price {
    text-align: center;
    display: flex;
    justify-content: center;
    align-content: center;
    flex-direction: column;
}

.hotel-price > h1 {
    color: #df6800;
}

.verticalDivider {
     border-left:1px dashed #38546d;
     height:100%;
     position: absolute;
     margin-left: -25px;
}

.horizontalDivider {
    width: 100%;
    border-top: 1px dashed #38546d;
    display: none;
}

@media only screen and (max-width: 992px) {
    .verticalDivider {
        display: none;
    }

    .horizontalDivider {
        display: block;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    .hotel-price {
        margin-bottom: 15px;
    }
}

@media only screen and (max-width: 768px) {
    .info-hotel {
        padding: 15px;
        margin-left: 15px;
    }
}

@media only screen and (max-width: 736px) {
    .filters {
        padding: 0px;
    }
}
